{% extends "base/base.html" %}

{% block body_classes %}{{ block.super }} f_landing{% endblock %}

{% block title %}{{ block.super }} &mdash; A proof-of-concept .buildinfo server{% endblock %}

{% block container %}

<a class="hidden-xs" href="https://github.com/lamby/buildinfo.debian.net"><img style="position: absolute; top: 0; right: 0; border: 0;" src="{% static "images/github.png" %}" alt="Fork me on GitHub"></a>

<div class="container">
  <br>

  <div class="jumbotron">
    <h1>
      buildinfo.debian.net
    </h1>

    <h2>
      A proof-of-concept <code>.buildinfo</code> server
    </h2>
  </div>

  <div class="well">
    <h2>
      What is this site?
    </h2>

    <p>
      In order to build packages reproducibly, you not only need identical
      sources but also some external definition of the environment used for a
      particular build. This definition includes the inputs and the outputs
      and&mdash;in the Debian case&mdash;are available in a
      <code>$package_$version_$architecture.buildinfo</code> file.
    </p>

    <p>
      It is not currently clear how these files could or should be handled in
      practice, hence the creation of this server to investigate.
    </p>
  </div>

  <div class="alert alert-warning">
    <strong>WARNING:</strong>
    The layout, data and schema of this site are highly unstable; please don't
    rely on anything just yet.
  </div>

  <hr>

  <div class="row">
    <div class="col-xs-12">
      <h3>Quick-start</h3>

      <p>
        <code>
          $ gpg --output=- --clearsign <em>my.buildinfo</em> | curl -X PUT --max-time 30 --data-binary @- {{ settings.SITE_URL }}{% url "api:submit" %}
        </code>
      </p>
    </div>
  </div>
</div>

{% endblock%}
